/nbproject/private/
/ClienteRMI/ClienteRMI/build/
/ClienteRMI/ClienteRMI/nbproject/private/
/ClienteRMI/build/
/ClienteRMI/nbproject/private/
/RMIBD/build/
/RMIBD/dist/
/RMIBD/nbproject/private/
/ServidorBD/build/
/ServidorBD/dist/
/ServidorBD/nbproject/private/